.custom-button {
    border: 2px solid grey;
    border-right-color: black;
    border-left-color: black;
    border-radius: 10px;
    padding: .75rem;
}

.custom-button:active {
    border-color: black;
    border-right-color: gray;
    border-left-color: gray;
}

.small {
    min-height: 50px;
}

.medium {
    min-height: 100px;
}

.large {
    min-height: 150px;
}

.selected {
    border-color: red;
    border-width: 3px;
}