.category-centered {
    text-align: center;
}

.primary-font {
    font-size: 1em;
}

.secondary-font {
    font-size: 0.8em;
}

.control-button {
        min-height: 100px;
        width: 150px;
        border-radius: 10px;
        margin: 5px;
}

@media(max-width: 290px){
    .sm-container{
        display: flex;
        flex-direction:column;
        align-content: center;
    }
}